.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: fit-content;
    align-self: center;
}

.btns-nav {
    display: flex;
    justify-content: space-around;
}