body {
  margin: 0;
  background-image: url('./assets/mystical.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root {
  display: grid;
  place-items: center;
}